//go:build cli

package {{ .Name | ToLower }}

import (
	"context"

	"github.com/spf13/cobra"

	"github.com/theopenlane/core/cli/cmd"
	"github.com/theopenlane/go-client/graphclient"
)

var getCmd = &cobra.Command{
	Use:   "get",
	Short: "get an existing {{ .Name | ToLowerCamel }}",
	Run: func(cmd *cobra.Command, args []string) {
		err := get(cmd.Context())
		cobra.CheckErr(err)
	},
}

func init() {
	command.AddCommand(getCmd)

	{{- if not .HistoryCmd }}
	getCmd.Flags().StringP("id", "i", "", "{{ .Name | ToLowerCamel }} id to query")
	{{ else }}
	getCmd.Flags().StringP("id", "i", "", "id to query")
	{{- end }}
}

// get an existing {{ .Name | ToLowerCamel }} in the platform
func get(ctx context.Context) error {
	// attempt to setup with token, otherwise fall back to JWT with session
	client, err := cmd.TokenAuth(ctx, cmd.Config)
	if err != nil || client == nil {
		// setup http client
		client, err = cmd.SetupClientWithAuth(ctx)
		cobra.CheckErr(err)
		defer cmd.StoreSessionCookies(client)
	}

	{{- if not .ListOnly }}
	// filter options
	id := cmd.Config.String("id")

	// if an {{ .Name | ToLowerCamel }} ID is provided, filter on that {{ .Name | ToLowerCamel }}, otherwise get all
	if id != "" {
		o, err := client.Get{{ .Name | ToUpperCamel }}ByID(ctx, id)
		cobra.CheckErr(err)

		return consoleOutput(o)
	}

	{{- end }}

	{{- if .HistoryCmd }}

	// filter options
	id := cmd.Config.String("id")
	if id != "" {
		o, err := client.Get{{ .Name | ToUpperCamel | ToPlural }}(ctx, nil, nil, &graphclient.{{ .Name | ToUpperCamel }}WhereInput{
			Ref: &id,
		})
		cobra.CheckErr(err)

		return consoleOutput(o)
	}
	{{- end }}

	// get all will be filtered for the authorized organization(s)
	o, err := client.GetAll{{ .Name | ToUpperCamel | ToPlural }}(ctx)
	cobra.CheckErr(err)

	return consoleOutput(o)
}
