river:
  databaseHost: postgres://postgres:password@host.docker.internal:5432/jobs?sslmode=disable
  runMigrations: true
  queues:
    - name: email
      maxWorkers: 100
  workers:
    openlaneconfig:
      openlaneapihost: "http://host.docker.internal:17608"
      openlaneapitoken: "tolp_REDACTED"
    emailWorker:
      config:
        enabled: true
        devMode: true
        fromEmail: no-reply@example.com
        testDir: fixtures/email
        token: ""
    deleteExportContentWorker:
      config:
        enabled: false
        cutoffDuration: 1800000000000
        interval: 600000000000
    exportContentWorker:
      config:
        enabled: true
  trustcenterworkers:
    openlaneconfig:
      openlaneapihost: "http://host.docker.internal:17608"
      openlaneapitoken: "tolp_REDACTED"
    createCustomDomainWorker:
      config:
        enabled: false
        cloudflareApiKey: ""
        databaseHost: ""
        openlaneapihost: "http://host.docker.internal:17608"
        openlaneapitoken: "tolp_REDACTED"
    deleteCustomDomainWorker:
      config:
        enabled: false
        cloudflareApiKey: ""
        databaseHost: ""
        openlaneapihost: "http://host.docker.internal:17608"
        openlaneapitoken: "tolp_REDACTED"
    validateCustomDomainWorker:
      config:
        enabled: false
        cloudflareApiKey: ""
        openlaneapihost: "http://host.docker.internal:17608"
        openlaneapitoken: "tolp_REDACTED"
    watermarkDocWorker:
      config:
        enabled: false
        openlaneapihost: "http://host.docker.internal:17608"
        openlaneapitoken: "tolp_REDACTED"
refreshInterval: 600000000000
