river:
  databaseHost: postgres://postgres:password@host.docker.internal:5432/jobs?sslmode=disable
  runMigrations: true
  queues:
    - name: email
      maxWorkers: 100
    - name: default
      maxWorkers: 100
    - name: compliance
      maxWorkers: 100
    - name: trustcenter
      maxWorkers: 100
    - name: notifications
      maxWorkers: 100
  workers:
    openlaneconfig:
      openlaneapihost: "http://host.docker.internal:17608"
      openlaneapitoken: "tolp_REDACTED"
    emailWorker:
      config:
        enabled: true
        devMode: true
        fromEmail: no-reply@example.com
        testDir: fixtures/email
        token: ""
    deleteExportContentWorker:
      config:
        enabled: false
        cutoffDuration: 1800000000000
        interval: 600000000000
    exportContentWorker:
      config:
        enabled: true
  trustcenterworkers:
    openlaneconfig:
      openlaneapihost: "http://host.docker.internal:17608"
      openlaneapitoken: "tolp_REDACTED"
    cleartrustcentercacheworker:
      config:
        enabled: false
        objectstorage:
          bucket: ""
          credentials:
            accesskeyid: ""
            accountid: ""
            secretaccesskey: ""
          endpoint: ""
    createcustomdomainworker:
      config:
        cloudflareapikey: ""
        enabled: false
        validateinterval: 0
    createpirschdomainworker:
      config:
        enabled: false
        pirschclientid: ""
        pirschclientsecret: ""
    createpreviewdomainworker:
      config:
        cloudflareapikey: ""
        enabled: false
    deletecustomdomainworker:
      config:
        cloudflareapikey: ""
        enabled: false
        validateinterval: 0
    deletepirschdomainworker:
      config:
        enabled: false
        openlaneapihost: ""
        openlaneapitoken: ""
        pirschclientid: ""
        pirschclientsecret: ""
    deletepreviewdomainworker:
      config:
        cloudflareapikey: ""
        enabled: false
    updatepirschdomainworker:
      config:
        enabled: false
        pirschclientid: ""
        pirschclientsecret: ""
    validatecustomdomainworker:
      config:
        cloudflareapikey: ""
        enabled: false
        validateinterval: 0
    validatepreviewdomainworker:
      config:
        cloudflareapikey: ""
        enabled: false
        maxsnoozes: 0
        snoozeduration: 0
    watermarkdocworker:
      config:
        enabled: false
refreshInterval: 600000000000
