services:
  riverboat:
    # the taskfile will set the tag based on the architecture, if you are running on x86_64 it will use the amd64-latest tag
    # if you run without the taskfile and the env var set it will default to arm64-latest
    image: docker.io/library/riverboat:dev
    volumes:
      - ${PWD}/docker/configs/riverboat/.config.yaml:/config/.config.yaml
    command:
      - serve
      - --debug
      - --pretty
    networks:
      - default
    restart: unless-stopped # allow it to keep trying if postgres is not up yet
  river-ui:
    image: ghcr.io/riverqueue/riverui:latest
    ports:
      - 8082:8080
    environment:
      - DATABASE_URL=postgres://postgres:password@host.docker.internal:5432/jobs?sslmode=disable
    networks:
      - default
