services:
  dex:
    image: ghcr.io/dexidp/dex:v2.44.0
    volumes:
      - ./files/dex.yaml:/etc/dex/config.yaml:ro
    command: ["dex", "serve", "/etc/dex/config.yaml"]
    ports:
      - "5556:5556"
    networks:
      - default

  sso-ui:
    image: nginx:alpine
    volumes:
      - ../internal/testutils/login/sso:/usr/share/nginx/html:ro
    ports:
      - "3001:80"
    networks:
      - default

  tokens-ui:
    image: nginx:alpine
    volumes:
      - ../internal/testutils/tokensso:/usr/share/nginx/html:ro
    ports:
      - "3002:80"
    networks:
      - default
