version: "3"

tasks:
  build:
    dir: ..
    desc: builds the core docker image
    cmds:
      - task: :go:build
        vars:
          GOOS: 'GOOS=linux'
          GOARCH: 'GOARCH=amd64'
      - "docker build -f docker/Dockerfile . -t core:dev"

  build:aio:
    dir: ..
    desc: builds the core docker image all-in-one image
    cmds:
      - "docker build -f ./docker/all-in-one/Dockerfile.all-in-one -t core:dev-aio ."

  core:
    dir: ..
    desc: brings up the compose environment for the core server
    deps: [build]
    cmds:
      - "docker compose -f ./docker/docker-compose-redis.yml -f ./docker/docker-compose-fga.yml -f ./docker/docker-compose-riverboat.yml -f ./docker/docker-compose.yml up -d"

  core:down:
    dir: ..
    desc: brings the core compose environment down
    cmds:
      - "docker compose down"

  all:up:
    dir: ..
    desc: brings up the full docker compose development environment including core server, fga, and rover
    cmds:
      - task: core
      - task: :rover

  all:down:
    dir: ..
    desc: brings down both fga and core server compose environments
    cmds:
      - task: core:down

  redis:
    dir: ..
    desc: brings up the compose environment for redis
    cmds:
      - "docker compose -f ./docker/docker-compose-redis.yml up -d"

  redis:down:
    dir: ..
    desc: brings up the compose environment for redis
    cmds:
      - "docker compose down"

  riverboat:
    dir: ..
    desc: brings up the compose environment for riverboat
    env:
      RIVERBOAT_TAG: "{{.RIVERBOAT_TAG}}"
    vars:
      RIVERBOAT_TAG:
        sh: "uname=$(uname -m); if [ $uname = 'x86_64' ]; then echo 'amd64-latest'; else echo 'arm64-latest'; fi"
    cmds:
      - "docker compose -f ./docker/docker-compose-riverboat.yml up -d"

  riverboat:down:
    dir: ..
    desc: brings the riverboat compose environment down
    cmds:
      - docker compose down

  postgres:
    dir: ..
    desc: brings up the compose environment for postgres development
    cmds:
      - "docker compose -f ./docker/docker-compose-pg.yml up -d"

  postgres:down:
    dir: ..
    desc: brings the postgres compose environment down
    cmds:
      - docker compose down

  fga:
    dir: ..
    desc: brings up the compose environment for openfga development
    cmds:
      - "docker compose -f ./docker/docker-compose-fga.yml up -d"

  fga:down:
    dir: ..
    desc: brings the fga compose environment down
    cmds:
      - docker compose down

  fga:open:
    dir: ..
    desc: opens the fga playground in a browser
    cmds:
      - 'open "http://localhost:3000/playground"'

  fga:up:
    dir: ..
    desc: brings the fga compose environment up and opens the fga playground
    aliases: [fgaup]
    cmds:
      - task: fga
      - task: fga:open

  metrics:
    dir: ..
    desc: brings up the compose environment for redis
    cmds:
      - "docker compose -f ./docker/docker-compose-prometheus.yml up -d"

  oidc:
    dir: ..
    desc: brings up the compose environment for openfga development
    cmds:
      - "docker compose -f ./docker/docker-compose-oidc.yml up -d"

  localoidc:
    dir: ..
    desc: launches the local OIDC server and test UI for SSO development
    cmds:
      - "docker compose -f ./docker/docker-compose.yml up -d localoidc sso-ui"
