New Company: {{ .CompanyName }}
Email: {{ .Email }}
{{- if .Domains }}
Domains: {{ range $i, $d := .Domains }}{{ if $i }}, {{ end }}{{ $d }}{{ end }}
{{- end }}
{{- if .CompanyDetails }}
Company Details:
{{ range $k, $v := .CompanyDetails }}- {{ $k }}: {{ $v }}
{{ end }}
{{- end }}
{{- if .UserDetails }}
User Details:
{{ range $k, $v := .UserDetails }}- {{ $k }}: {{ $v }}
{{ end }}
{{- end }}
{{- if .Compliance }}
Compliance:
{{ range $k, $v := .Compliance }}- {{ $k }}: {{ $v }}
{{ end }}
{{- end }}
{{- if .DemoRequested }}

*Demo requested - user would like a personalized demo. Reach out to them at {{ .Email }}*
{{- end }}
