CORE_REFRESHINTERVAL="10m"
CORE_SERVER_DEBUG="false"
CORE_SERVER_DEV="false"
CORE_SERVER_LISTEN=":17608"
CORE_SERVER_SHUTDOWNGRACEPERIOD="10s"
CORE_SERVER_READTIMEOUT="15s"
CORE_SERVER_WRITETIMEOUT="15s"
CORE_SERVER_IDLETIMEOUT="30s"
CORE_SERVER_READHEADERTIMEOUT="2s"
CORE_SERVER_TLS_ENABLED="false"
CORE_SERVER_TLS_CERTFILE="server.crt"
CORE_SERVER_TLS_CERTKEY="server.key"
CORE_SERVER_TLS_AUTOCERT="false"
CORE_SERVER_CORS_ENABLED="true"
CORE_SERVER_CORS_PREFIXES=""
CORE_SERVER_CORS_ALLOWORIGINS=""
CORE_SERVER_CORS_COOKIEINSECURE=""
CORE_SERVER_SECURE_ENABLED="true"
CORE_SERVER_SECURE_XSSPROTECTION="1; mode=block"
CORE_SERVER_SECURE_CONTENTTYPENOSNIFF="nosniff"
CORE_SERVER_SECURE_XFRAMEOPTIONS="SAMEORIGIN"
CORE_SERVER_SECURE_HSTSPRELOADENABLED="false"
CORE_SERVER_SECURE_HSTSMAXAGE="31536000"
CORE_SERVER_SECURE_CONTENTSECURITYPOLICY="default-src 'self'"
CORE_SERVER_SECURE_REFERRERPOLICY="same-origin"
CORE_SERVER_SECURE_CSPREPORTONLY="false"
CORE_SERVER_REDIRECTS_ENABLED="true"
CORE_SERVER_REDIRECTS_REDIRECTS=""
CORE_SERVER_REDIRECTS_CODE=""
CORE_SERVER_CACHECONTROL_ENABLED="true"
CORE_SERVER_CACHECONTROL_NOCACHEHEADERS=""
CORE_SERVER_CACHECONTROL_ETAGHEADERS=""
CORE_SERVER_MIME_ENABLED="true"
CORE_SERVER_MIME_MIMETYPESFILE=""
CORE_SERVER_MIME_DEFAULTCONTENTTYPE="application/data"
CORE_SERVER_GRAPHPOOL_MAXWORKERS="100"
CORE_SERVER_ENABLEGRAPHEXTENSIONS="true"
CORE_ENTCONFIG_ENTITYTYPES=""
CORE_AUTH_ENABLED="true"
CORE_AUTH_TOKEN_KID=""
CORE_AUTH_TOKEN_AUDIENCE="https://theopenlane.io"
CORE_AUTH_TOKEN_REFRESHAUDIENCE=""
CORE_AUTH_TOKEN_ISSUER="https://auth.theopenlane.io"
CORE_AUTH_TOKEN_ACCESSDURATION="1h"
CORE_AUTH_TOKEN_REFRESHDURATION="2h"
CORE_AUTH_TOKEN_REFRESHOVERLAP="-15m"
CORE_AUTH_TOKEN_JWKSENDPOINT="https://api.theopenlane.io/.well-known/jwks.json"
CORE_AUTH_TOKEN_KEYS=""
CORE_AUTH_TOKEN_GENERATEKEYS="true"
CORE_AUTH_SUPPORTEDPROVIDERS=""
CORE_AUTH_PROVIDERS_REDIRECTURL="http://localhost:3001/api/auth/callback/theopenlane"
CORE_AUTH_PROVIDERS_GITHUB_CLIENTID=""
CORE_AUTH_PROVIDERS_GITHUB_CLIENTSECRET=""
CORE_AUTH_PROVIDERS_GITHUB_CLIENTENDPOINT="http://localhost:17608"
CORE_AUTH_PROVIDERS_GITHUB_SCOPES=""
CORE_AUTH_PROVIDERS_GITHUB_REDIRECTURL="/v1/github/callback"
CORE_AUTH_PROVIDERS_GOOGLE_CLIENTID=""
CORE_AUTH_PROVIDERS_GOOGLE_CLIENTSECRET=""
CORE_AUTH_PROVIDERS_GOOGLE_CLIENTENDPOINT="http://localhost:17608"
CORE_AUTH_PROVIDERS_GOOGLE_SCOPES=""
CORE_AUTH_PROVIDERS_GOOGLE_REDIRECTURL="/v1/google/callback"
CORE_AUTH_PROVIDERS_WEBAUTHN_ENABLED="true"
CORE_AUTH_PROVIDERS_WEBAUTHN_DISPLAYNAME=""
CORE_AUTH_PROVIDERS_WEBAUTHN_RELYINGPARTYID="localhost"
CORE_AUTH_PROVIDERS_WEBAUTHN_REQUESTORIGINS="[http://localhost:3001]"
CORE_AUTH_PROVIDERS_WEBAUTHN_MAXDEVICES="10"
CORE_AUTH_PROVIDERS_WEBAUTHN_ENFORCETIMEOUT="true"
CORE_AUTH_PROVIDERS_WEBAUTHN_TIMEOUT="60s"
CORE_AUTH_PROVIDERS_WEBAUTHN_DEBUG="false"
CORE_AUTHZ_ENABLED="true"
CORE_AUTHZ_STORENAME="openlane"
CORE_AUTHZ_HOSTURL="https://authz.theopenlane.io"
CORE_AUTHZ_STOREID=""
CORE_AUTHZ_MODELID=""
CORE_AUTHZ_CREATENEWMODEL="false"
CORE_AUTHZ_MODELFILE="fga/model/openlane.fga"
CORE_AUTHZ_CREDENTIALS_APITOKEN=""
CORE_AUTHZ_CREDENTIALS_CLIENTID=""
CORE_AUTHZ_CREDENTIALS_CLIENTSECRET=""
CORE_AUTHZ_CREDENTIALS_AUDIENCE=""
CORE_AUTHZ_CREDENTIALS_ISSUER=""
CORE_AUTHZ_CREDENTIALS_SCOPES=""
CORE_DB_DEBUG="false"
CORE_DB_DATABASENAME="openlane"
CORE_DB_DRIVERNAME="pgx"
CORE_DB_MULTIWRITE="false"
CORE_DB_PRIMARYDBSOURCE="file:openlane.db"
CORE_DB_SECONDARYDBSOURCE="file:backup.db"
CORE_DB_CACHETTL="1s"
CORE_DB_RUNMIGRATIONS="true"
CORE_DB_MIGRATIONPROVIDER="atlas"
CORE_DB_ENABLEHISTORY="false"
CORE_JOBQUEUE_CONNECTIONURI="postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable"
CORE_JOBQUEUE_RUNMIGRATIONS="false"
CORE_REDIS_ENABLED="true"
CORE_REDIS_ADDRESS="localhost:6379"
CORE_REDIS_NAME="openlane"
CORE_REDIS_USERNAME=""
CORE_REDIS_PASSWORD=""
CORE_REDIS_DB="0"
CORE_REDIS_DIALTIMEOUT="5s"
CORE_REDIS_READTIMEOUT="0"
CORE_REDIS_WRITETIMEOUT="0"
CORE_REDIS_MAXRETRIES="3"
CORE_REDIS_MINIDLECONNS="0"
CORE_REDIS_MAXIDLECONNS="0"
CORE_REDIS_MAXACTIVECONNS="0"
CORE_TRACER_ENABLED="false"
CORE_TRACER_PROVIDER="stdout"
CORE_TRACER_ENVIRONMENT="development"
CORE_TRACER_STDOUT_PRETTY="true"
CORE_TRACER_STDOUT_DISABLETIMESTAMP="false"
CORE_TRACER_OTLP_ENDPOINT="localhost:4317"
CORE_TRACER_OTLP_INSECURE="true"
CORE_TRACER_OTLP_CERTIFICATE=""
CORE_TRACER_OTLP_HEADERS=""
CORE_TRACER_OTLP_COMPRESSION=""
CORE_TRACER_OTLP_TIMEOUT="10s"
CORE_EMAIL_COMPANYNAME=""
CORE_EMAIL_COMPANYADDRESS=""
CORE_EMAIL_CORPORATION=""
CORE_EMAIL_FROMEMAIL=""
CORE_EMAIL_SUPPORTEMAIL=""
CORE_EMAIL_LOGOURL=""
CORE_EMAIL_URLS_ROOT=""
CORE_EMAIL_URLS_PRODUCT=""
CORE_EMAIL_URLS_DOCS=""
CORE_EMAIL_URLS_VERIFY=""
CORE_EMAIL_URLS_INVITE=""
CORE_EMAIL_URLS_RESET=""
CORE_EMAIL_URLS_VERIFYSUBSCRIBER=""
CORE_SESSIONS_SIGNINGKEY="my-signing-secret"
CORE_SESSIONS_ENCRYPTIONKEY="encryptionsecret"
CORE_SESSIONS_DOMAIN=""
CORE_TOTP_ENABLED="true"
CORE_TOTP_CODELENGTH="6"
CORE_TOTP_ISSUER=""
CORE_TOTP_REDIS="true"
CORE_TOTP_SECRET=""
CORE_TOTP_RECOVERYCODECOUNT="16"
CORE_TOTP_RECOVERYCODELENGTH="8"
CORE_RATELIMIT_ENABLED="false"
CORE_RATELIMIT_LIMIT="10"
CORE_RATELIMIT_BURST="30"
CORE_RATELIMIT_EXPIRES="10m"
CORE_OBJECTSTORAGE_ENABLED="true"
CORE_OBJECTSTORAGE_PROVIDER=""
CORE_OBJECTSTORAGE_ACCESSKEY=""
CORE_OBJECTSTORAGE_REGION=""
CORE_OBJECTSTORAGE_SECRETKEY=""
CORE_OBJECTSTORAGE_CREDENTIALSJSON=""
CORE_OBJECTSTORAGE_DEFAULTBUCKET="file_uploads"
CORE_OBJECTSTORAGE_KEYS="[uploadFile]"
CORE_SUBSCRIPTION_ENABLED="false"
CORE_SUBSCRIPTION_PUBLICSTRIPEKEY=""
CORE_SUBSCRIPTION_PRIVATESTRIPEKEY=""
CORE_SUBSCRIPTION_STRIPEWEBHOOKSECRET=""
