auth:
    enabled: true
    providers:
        github:
            clientEndpoint: ""
            clientId: ""
            clientSecret: ""
            redirectUrl: /v1/github/callback
            scopes: null
        google:
            clientEndpoint: ""
            clientId: ""
            clientSecret: ""
            redirectUrl: /v1/google/callback
            scopes: null
        redirecturl: http://localhost:3001/api/auth/callback/theopenlane
        webauthn:
            debug: false
            displayName: ""
            enabled: true
            enforceTimeout: true
            maxDevices: 10
            relyingPartyId: ""
            requestOrigins: null
            timeout: 60000000000
    supportedproviders: null
    token:
        accessDuration: 3600000000000
        apiTokens:
            delimiter: .
            enabled: false
            envPrefix: IAM_API_TOKEN_KEY_
            keys: null
            prefix: ""
            secretSize: 32
        audience: ""
        generateKeys: true
        issuer: ""
        jwksCacheTTL: 300000000000
        jwksEndpoint: ""
        keys: null
        kid: ""
        redis:
            blacklistPrefix: 'token:blacklist:'
            config:
                address: localhost:6379
                db: 0
                dialTimeout: 5000000000
                enabled: true
                maxActiveConns: 0
                maxIdleConns: 0
                maxRetries: 3
                minIdleConns: 0
                name: ""
                password: ""
                readTimeout: 0
                username: ""
                writeTimeout: 0
            enabled: false
        refreshAudience: ""
        refreshDuration: 7200000000000
        refreshOverlap: -900000000000
authz:
    createNewModel: false
    credentials:
        apiToken: ""
        audience: ""
        clientId: ""
        clientSecret: ""
        issuer: ""
        scopes: ""
    enabled: true
    hostUrl: https://authz.theopenlane.io
    modelFile: fga/model/model.fga
    modelId: ""
    storeId: ""
    storeName: openlane
db:
    cacheTTL: 1000000000
    databaseName: openlane
    debug: false
    driverName: pgx
    enableHistory: false
    maxConnections: 0
    maxIdleConnections: 0
    migrationProvider: atlas
    multiWrite: false
    primaryDbSource: postgres://postgres:password@0.0.0.0:5432/core?sslmode=disable
    runMigrations: true
    secondaryDbSource: postgres://postgres:password@0.0.0.0:5432/core-secondary?sslmode=disable
domain: ""
email:
    companyAddress: ""
    companyName: ""
    corporation: ""
    fromEmail: ""
    logoURL: ""
    supportEmail: ""
    templatesPath: ""
    urls:
        docs: ""
        invite: ""
        product: ""
        questionnaire: ""
        reset: ""
        root: ""
        verify: ""
        verifyBilling: ""
        verifySubscriber: ""
    year: 0
entconfig:
    billing:
        bypassemaildomains: null
        requirepaymentmethod: false
    emailvalidation:
        allowedemailtypes:
            disposable: false
            free: false
            role: false
        enableautoupdatedisposable: true
        enabled: false
        enablegravatarcheck: true
        enablesmtpcheck: false
    entitytypes: null
    maxpoolsize: 100
    maxschemaimportsize: 262144
    modules:
        enabled: true
        usesandbox: false
    summarizer:
        llm:
            anthropic:
                apiKey: ""
                baseurl: ""
                betaheader: ""
                legacytextcompletion: false
                model: ""
            cloudflare:
                accountid: ""
                apiKey: ""
                model: ""
                serverurl: ""
            openai:
                apiKey: ""
                model: ""
                organizationid: ""
                url: ""
            provider: none
        maximumsentences: 10
        type: lexrank
    windmill:
        baseurl: https://app.windmill.dev
        defaulttimeout: 30s
        enabled: false
        onfailurescript: ""
        onsuccessscript: ""
        timezone: UTC
        token: ""
        workspace: ""
integrationoauthprovider:
    github:
        clientendpoint: ""
        clientid: ""
        clientsecret: ""
        scopes: null
    redirecturl: ""
    slack:
        clientendpoint: ""
        clientid: ""
        clientsecret: ""
        scopes: null
    successredirecturl: ""
jobqueue:
    connectionURI: postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable
    metrics:
        enableMetrics: false
        enableSemanticMetrics: true
        metricsDurationUnit: ms
    riverConf:
        AdvisoryLockPrefix: 0
        CancelledJobRetentionPeriod: 0
        CompletedJobRetentionPeriod: 0
        DiscardedJobRetentionPeriod: 0
        ErrorHandler: null
        FetchCooldown: 0
        FetchPollInterval: 0
        Hooks: null
        ID: ""
        JobCleanerTimeout: 0
        JobInsertMiddleware: null
        JobTimeout: 0
        Logger: null
        MaxAttempts: 0
        Middleware: null
        PeriodicJobs: null
        PollOnly: false
        Queues: null
        ReindexerSchedule: null
        ReindexerTimeout: 0
        RescueStuckJobsAfter: 0
        RetryPolicy: null
        Schema: ""
        SkipJobKindValidation: false
        SkipUnknownJobCheck: false
        Test:
            DisableUniqueEnforcement: false
            Time: null
        TestOnly: false
        WorkerMiddleware: null
        Workers: null
    runMigrations: false
keywatcher:
    enabled: false
    externalsecretsintegration: false
    keydir: ./keys
    secretmanager: ""
objectstorage:
    devmode: false
    enabled: true
    keys:
        - uploadFile
    maxmemorymb: 0
    maxsizemb: 0
    providers:
        cloudflarer2:
            baseurl: http://localhost:17608/v1/files
            bucket: ""
            credentials:
                accesskeyid: ""
                accountid: ""
                apitoken: ""
                projectid: ""
                secretaccesskey: ""
            enabled: false
            endpoint: ""
            ensureavailable: false
            proxypresignenabled: false
            region: ""
        database:
            baseurl: http://localhost:17608/v1/files
            bucket: ""
            credentials:
                accesskeyid: ""
                accountid: ""
                apitoken: ""
                projectid: ""
                secretaccesskey: ""
            enabled: false
            endpoint: ""
            ensureavailable: false
            proxypresignenabled: false
            region: ""
        disk:
            baseurl: http://localhost:17608/v1/files
            bucket: ""
            credentials:
                accesskeyid: ""
                accountid: ""
                apitoken: ""
                projectid: ""
                secretaccesskey: ""
            enabled: false
            endpoint: ""
            ensureavailable: false
            proxypresignenabled: false
            region: ""
        gcs:
            baseurl: http://localhost:17608/v1/files
            bucket: ""
            credentials:
                accesskeyid: ""
                accountid: ""
                apitoken: ""
                projectid: ""
                secretaccesskey: ""
            enabled: false
            endpoint: ""
            ensureavailable: false
            proxypresignenabled: false
            region: ""
        s3:
            baseurl: http://localhost:17608/v1/files
            bucket: ""
            credentials:
                accesskeyid: ""
                accountid: ""
                apitoken: ""
                projectid: ""
                secretaccesskey: ""
            enabled: false
            endpoint: ""
            ensureavailable: false
            proxypresignenabled: false
            region: ""
ratelimit:
    denymessage: Too many requests
    denystatus: 429
    dryrun: true
    enabled: false
    forwardedindexfrombehind: 0
    headers:
        - True-Client-IP
    includemethod: false
    includepath: false
    keyprefix: ""
    options:
        - expiration: 0
          flushinterval: 0
          requests: 500
          window: 60000000000
    sendretryafterheader: true
redis:
    address: localhost:6379
    db: 0
    dialTimeout: 5000000000
    enabled: true
    maxActiveConns: 0
    maxIdleConns: 0
    maxRetries: 3
    minIdleConns: 0
    name: ""
    password: ""
    readTimeout: 0
    username: ""
    writeTimeout: 0
refreshinterval: 600000000000
server:
    cachecontrol:
        enabled: true
        etagheaders: null
        nocacheheaders: null
    complexitylimit: 100
    cors:
        alloworigins: null
        cookieinsecure: false
        enabled: true
        prefixes: null
    csrfprotection:
        cookie: ol.csrf-token
        cookiedomain: ""
        cookiehttponly: false
        cookiepath: /
        enabled: false
        header: X-CSRF-Token
        samesite: Lax
        secure: true
    defaulttrustcenterdomain: ""
    dev: false
    enablegraphextensions: true
    enablegraphsubscriptions: false
    fieldlevelencryption:
        enabled: false
        keyset: ""
    graphpool:
        maxworkers: 100
    idletimeout: 30000000000
    listen: :17608
    maxresultlimit: 100
    metricsport: :17609
    mime:
        defaultcontenttype: application/data
        enabled: true
        mimetypesfile: ""
    readheadertimeout: 2000000000
    readtimeout: 15000000000
    redirects:
        code: 0
        enabled: true
        redirects: null
    secretmanager: ""
    secure:
        contentsecuritypolicy: default-src 'self'
        contenttypenosniff: nosniff
        cspreportonly: false
        enabled: true
        hstsmaxage: 31536000
        hstspreloadenabled: false
        referrerpolicy: same-origin
        xframeoptions: SAMEORIGIN
        xssprotection: 1; mode=block
    shutdowngraceperiod: 10000000000
    tls:
        autocert: false
        certfile: server.crt
        certkey: server.key
        enabled: false
    trustcentercnametarget: ""
    writetimeout: 15000000000
sessions:
    domain: ""
    encryptionKey: encryptionsecret
    httpOnly: true
    maxAge: 3600
    sameSite: Strict
    secure: true
    signingKey: my-signing-secret
slack:
    newsubscribermessagefile: ""
    newusermessagefile: ""
    webhookurl: ""
subscription:
    enabled: false
    privatestripekey: ""
    stripebillingportalsuccessurl: https://console.theopenlane.io/organization-settings/billing
    stripecancellationreturnurl: https://console.theopenlane.io/organization-settings/billing
    stripewebhookapiversion: 2025_10_29_CLOVER
    stripewebhookdiscardapiversion: ""
    stripewebhookevents: null
    stripewebhooksecret: ""
    stripewebhooksecrets:
        2025_10_29_CLOVER: ""
    stripewebhookurl: https://api.theopenlane.io/stripe/webhook
totp:
    codeLength: 6
    enabled: true
    issuer: ""
    recoveryCodeCount: 16
    recoveryCodeLength: 8
    redis: true
    secret: ""
tracer:
    enabled: false
    environment: development
    otlp:
        certificate: ""
        compression: ""
        endpoint: localhost:4317
        headers: null
        insecure: true
        timeout: 10000000000
    provider: stdout
    stdout:
        disableTimestamp: false
        pretty: true
