# server settings
server:
  debug: true
  dev: true
  cors:
    allowOrigins:
      - http://localhost:3001
      - http://localhost:5500
  # tls settings
  tls:
    enabled: false
# db settings
db:
  debug: true
  driverName: postgres
  primaryDbSource: "postgres://postgres:password@0.0.0.0:5432/core?sslmode=disable"
  multiWrite: false
  migrationProvider: "goose"
  enableHistory: true
# auth settings
auth:
  enabled: true
  token:
    kid: "02GGBS68AM12178M0REW3CEAFF"
    audience: "http://localhost:17608"
    refreshAudience: "http://localhost:17608"
    issuer: "http://localhost:17608"
    jwksEndpoint: "http://localhost:17608/.well-known/jwks.json"
  supportedProviders:
    - google
    - github
  providers:
    google:
      clientId: "client_id_here.apps.googleusercontent.com"
      clientSecret: "client_secret_here"
      scopes:
        - email
        - profile
    github:
      clientId: "client_id_here"
      clientSecret: "client_secret_here"
      scopes:
        - user:email
        - read:user
    webauthn:
      debug: false
      enabled: true
      relyingPartyId: "localhost"
      requestOrigins:
        - "http://localhost:3001"
# authz settings
authz:
  enabled: true
  storeName: openlane
  hostUrl: http://localhost:8080
  createNewModel: false
  credentials:
    apiToken: "QKwHEmWX99RnFh28eSRJ3GWlfb2FQkL7toh1GJpzch1mMkVeMg"

# session settings
sessions:
  encryptionKey: encryptionsecret
  signingKey: my-signing-secret
# email settings
email:
  testing: true
  archive: "fixtures/email"
  sendGridApiKey: "SG.FakeAPIKey"
  consoleUrl:
    consoleBase: "http://localhost:17608/"
# analytics settings
posthog:
  enabled: false
  apiKey: "phc_FakeKey"
publisherConfig:
    appName: openlane
    addresses:
        - localhost:10000
    enabled: true

entConfig:
  entityTypes:
    - vendor
    - account
  flags:
    useListObjectServices: false
    useListUserService: true