# server settings
server:
  debug: true
  pretty: true
  dev: true
  graphPool:
    maxWorkers: 10
  csrfProtection:
    enabled: false
    header: X-CSRF-Token
    cookie: ol.csrf-token
    secure: false # set to true in production
    sameSite: Lax
    cookiePath: /
  enableGraphExtensions: true
  cacheControl:
    enabled: false
  cors:
    allowOrigins:
      - http://localhost:3001
      - http://localhost:5500
      - https://studio.apollographql.com
      - https://studio.apollographql.com
      - http://localhost:8000

  # tls settings
  tls:
    enabled: false

# dbx settings
dbx:
  enabled: false

# db settings
db:
  debug: true
  driverName: pgx
  cacheTTL: 10s
  primaryDbSource: "postgres://postgres:password@0.0.0.0:5432/core?sslmode=disable"
  multiWrite: false
  migrationProvider: "goose"
  runMigrations: true
  enableHistory: true

jobQueue:
    connectionURI: "postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable"

# auth settings
auth:
  enabled: true
  token:
    kid: "02GGBS68AM12178M0REW3CEAFF"
    audience: "http://localhost:17608"
    refreshAudience: "http://localhost:17608"
    issuer: "http://localhost:17608"
    jwksEndpoint: "http://localhost:17608/.well-known/jwks.json"
  supportedProviders:
    - google
    - github
  providers:
    google:
      clientId: "client_id_here.apps.googleusercontent.com"
      clientSecret: "client_secret_here"
      scopes:
        - email
        - profile
    github:
      clientId: "client_id_here"
      clientSecret: "client_secret_here"
      scopes:
        - user:email
        - read:user
    webauthn:
      debug: false
      enabled: true
      relyingPartyId: "localhost"
      requestOrigins:
        - "http://localhost:3001"

# totp settings
totp:
    codeLength: 6
    enabled: true
    issuer: "theopenlane.io"
    recoveryCodeCount: 16
    recoveryCodeLength: 8
    redis: true
    secret: "4af7d1842cef4aa7b098cb68361002df"

# authz settings
authz:
  enabled: true
  storeName: openlane
  hostUrl: http://localhost:8080
  # set to true in dev so the model is updated when changes happen; the container needs to be restarted to see the changes
  createNewModel: true
  credentials:
    apiToken: "QKwHEmWX99RnFh28eSRJ3GWlfb2FQkL7toh1GJpzch1mMkVeMg"

# session settings
sessions:
  encryptionKey: encryptionsecret
  signingKey: my-signing-secret
  httpOnly: true
  sameSite: 'Lax'
  secure: false # set to true in production

# email settings
email:
    companyAddress: 5150 Broadway St &middot; San Antonio, TX 78209
    companyName: Openlane
    corporation: theopenlane, Inc.
    fromEmail: no-reply@mail.theopenlane.io
    supportEmail: support@theopenlane.io
    urls:
      verifySubscriber: https://www.theopenlane.io/subscribe
      verify: https://console.theopenlane.io/verify
      reset: https://console.theopenlane.io/password-reset
      invite: https://console.theopenlane.io/invite
      root: https://www.theopenlane.io
      docs: https://docs.theopenlane.io
      product: https://console.theopenlane.io

ratelimit:
  enabled: false

entConfig:
  entityTypes:
    - vendor
    - account

objectStorage:
  # when using local storage, we serve the files up on a static handler
  # if switching to s3, be sure to use the below defaultBucket instead
  defaultBucket: "file_uploads"
    # uncomment and update to enable s3, otherwise it will default to local storage
    # accessKey: "REDACTED"
    # secretKey: "REDACTED"
    # region: "us-west-2"
    # defaultBucket: "openlane-development"
    # provider: "s3"

subscription:
    enabled: false
