# server settings
server:
  debug: true
  pretty: true
  dev: true
  graphPool:
    maxWorkers: 10
  csrfProtection:
    enabled: false
    header: X-CSRF-Token
    cookie: ol.csrf-token
    secure: false # set to true in production
    sameSite: Lax
    cookiePath: /
  enableGraphExtensions: true
  enableGraphSubscriptions: false
  cacheControl:
    enabled: false
  cors:
    allowOrigins:
      - http://localhost:3001
      - http://localhost:5500
      - https://studio.apollographql.com
      - https://studio.apollographql.com
      - http://localhost:8000

  # tls settings
  tls:
    enabled: false

# dbx settings
dbx:
  enabled: false

# db settings
db:
  debug: true
  driverName: pgx
  cacheTTL: 10s
  multiWrite: false
  migrationProvider: "goose"
  runMigrations: true
  enableHistory: true

jobQueue:

# auth settings
auth:
  enabled: true
  token:
    kid: "02GGBS68AM12178M0REW3CEAFF"
    audience: "http://localhost:17608"
    refreshAudience: "http://localhost:17608"
    issuer: "http://localhost:17608"
    jwksEndpoint: "http://localhost:17608/.well-known/jwks.json"
  supportedProviders:
    - google
    - github
  providers:
    google:
      clientEndpoint: "http://localhost:17608"
      clientId: "client_id_here.apps.googleusercontent.com"
      clientSecret: "client_secret_here"
      scopes:
        - email
        - profile
    github:
      clientEndpoint: "http://localhost:17608"
      clientId: "client_id_here"
      clientSecret: "client_secret_here"
      scopes:
        - user:email
        - read:user
    webauthn:
      debug: false
      enabled: true
      relyingPartyId: "localhost"
      requestOrigins:
        - "http://localhost:3001"

# totp settings
totp:
  codeLength: 6
  enabled: true
  issuer: "theopenlane.io"
  recoveryCodeCount: 16
  recoveryCodeLength: 8
  redis: true
  secret: "4af7d1842cef4aa7b098cb68361002df"

# authz settings
authz:
  enabled: true
  storeName: openlane
  hostUrl: http://localhost:8080
  # set to true in dev so the model is updated when changes happen; the container needs to be restarted to see the changes
  createNewModel: true
  credentials:
    apiToken: "QKwHEmWX99RnFh28eSRJ3GWlfb2FQkL7toh1GJpzch1mMkVeMg"

# session settings
sessions:
  encryptionKey: encryptionsecret
  signingKey: my-signing-secret
  httpOnly: true
  sameSite: "Lax"
  secure: false # set to true in production

# email settings
email:
  companyAddress: 5150 Broadway St &middot; San Antonio, TX 78209
  companyName: Openlane
  corporation: theopenlane, Inc.
  fromEmail: no-reply@mail.theopenlane.io
  supportEmail: support@theopenlane.io
  urls:
    verifySubscriber: https://www.theopenlane.io/subscribe
    verify: https://console.theopenlane.io/verify
    reset: https://console.theopenlane.io/password-reset
    invite: https://console.theopenlane.io/invite
    root: https://www.theopenlane.io
    docs: https://docs.theopenlane.io
    product: https://console.theopenlane.io

ratelimit:
  enabled: false
  includeMethod: false
  includePath: false
  sendRetryAfterHeader: true
  options:
    - requests: 10
      window: 1s

entConfig:
  maxSchemaImportSize: 262144
  modules:
    # this should only be enabled if you have subscriptions enabled as well
    enabled: false
    # this will use the catalog-sandbox.yaml, otherwise it will use catalog.yaml
    # this should allow you to use the sandbox without requiring seeding new price data
    useSandbox: true
  entityTypes:
    - vendor
    - account

  windmill:
    enabled: true
    baseURL: "http://localhost:8090"
    workspace: "test"
    token: "token_here"
    defaultTimeout: "30s"
    onFailureScript: ""
    onSuccessScript: ""

objectStorage:
  devMode: true
  enabled: true
  providers:
      disk:
          bucket: ""
          credentials:
              accessKeyID: ""
              accountID: ""
              apiToken: ""
              endpoint: ""
              projectID: ""
              secretAccessKey: ""
          enabled: false
          endpoint: ""
          ensureAvailable: false
          region: ""
      s3:
          bucket: ""
          credentials:
              accessKeyID: ""
              accountID: ""
              apiToken: ""
              endpoint: ""
              projectID: ""
              secretAccessKey: ""
          enabled: false
          endpoint: ""
          ensureAvailable: false
          region: ""

subscription:
  enabled: false
  publicStripeKey: pk_test_redacted
  privateStripeKey: sk_test_redacted
  stripeBillingPortalSuccessURL: http://localhost:3001/organization-settings/billing
  stripeCancellationReturnURL: http://localhost:3001/organization-settings/billing/subscription_canceled
  stripeWebhookURL: https://localhost:17608/v1/stripe/webhook
  stripeWebhookSecret: ""

integrationOauthProvider:
  successRedirectUrl: "http://localhost:3001/organization-settings/integrations"
  github:
    clientEndpoint: http://localhost:17608
    clientId: ""
    clientSecret: ""
    scopes: ["read:user", "user:email", "repo"]
  slack:
    clientEndpoint: http://localhost:17608
    clientId: ""
    clientSecret: ""
    scopes: ["channels:read", "chat:write", "users:read"]
