{{ define "model/fields/additional" }}
    {{- if eq $.Name "OrgSubscription" }}
        SubscriptionURL string `json:"subscriptionURL,omitempty"`
        ManagePaymentMethods string `json:"managePaymentMethods,omitempty"`
        Cancellation string `json:"cancellation,omitempty"`
    {{- end }}
    {{- if eq $.Name "File" }}
        PresignedURL string `json:"presignedURL,omitempty"`
    {{- end }}
{{ end }}