{{ define "model/fields/additional" }}
    {{- if eq $.Name "OrgSubscription" }}
        SubscriptionURL string `json:"subscriptionURL,omitempty"`
    {{- end }}
    {{- if eq $.Name "File" }}
        PresignedURL string `json:"presignedURL,omitempty"`
    {{- end }}
{{ end }}