---
apiVersion: v1
kind: ConfigMap
metadata:
  name: openlane-config
  namespace: openlane
  labels:
    app: openlane
    component: config
  annotations:
    # This checksum will trigger deployment restarts when the ConfigMap changes
    checksum/config: {{ .Values | toYaml | sha256sum }}
data: