package {{ name }}

import "github.com/theopenlane/core/v2/internal/integrations/types"

// VirtualUser is the virtual actor identity for records created by this definition's installations
var VirtualUser = types.NewVirtualUserRef("{{ vuid }}")
